<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticy.manage.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.ticy.manage.entity.UserInfo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <insert id="insert" parameterType="com.ticy.manage.entity.UserInfo">
    insert into user_info (id, username, password, 
      idcard, age)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{idcard,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ticy.manage.entity.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getUserInfo" parameterType="java.lang.String" resultType="com.ticy.manage.entity.UserInfo">
    SELECT id, username,idcard, password,age FROM user_info WHERE id = #{id,jdbcType=VARCHAR}

  </select>


  <select id="getMenuByPid" parameterType="java.lang.String" resultType="com.ticy.manage.recursion.Menu">
    SELECT parent_id as parentId , id, name,description FROM test_tree
    WHERE 1=1
    <if test="parentId != null and parentId !=''">
      and parent_id = #{parentId,jdbcType=VARCHAR}
    </if>
  </select>


</mapper>